@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* === transitions === */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    font-family:'poppins', san-serif;
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-02);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #695cfe;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.sidebar {
    position: fixed;
    height: 95%;
    width: 250px;
    margin: 20px 25px;
    background: var(--sidebar-color);
    border-radius: 6px;
    padding: 20px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: var(--trans-03);
}

.sidebar.active {
    width: 100px;
}

.sidebar header {
    position: relative;
}

.text-img {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.text-img .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.text-img img {
    height: 40px;
}

.header-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    right: -35px;
    background: var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color-light);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.toggle.close {
    transform: translate(180deg);
}

.sidebar li  {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-03);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar li a:hover {
    background: var(--primary-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--primary-color-light);
}


.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--primary-color-light);
    border-radius: 6px;
}

.sidebar .menu-bar {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
}

.menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-03);
}

body.dark .switch::before {
    left: 24px;
}