@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

:root {
    --body-color: #e4e9f7;
    --header-text: #010101;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* === transitions === */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    font-family:'poppins', san-serif;
    height: 100vh;
    overflow: hidden;
    background: var(--body-color);
    transition: var(--trans-02);
}

body.dark {
    --body-color: #18191A;
    --header-text: #f1f1f1;
    --sidebar-color: #242526;
    --primary-color: #695cfe;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* sidebar  */

.sidebar {
    position: fixed;
    height: 95%;
    width: 250px;
    margin: 20px 25px;
    background: var(--sidebar-color);
    border-radius: 6px;
    padding: 20px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: var(--trans-03);
    z-index: 1;
}

.sidebar.close {
    width: 100px;
}

body.dark .sidebar {
    box-shadow: none;
}

.sidebar header {
    position: relative;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-05);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* logo  */

.text-img {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.text-img .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-img img {
    height: 40px;
}

.header-text {
    font-size: 20px;
    font-weight: 500;
    color: var(--header-text);
}

/* toggle button  */

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    right: -35px;
    background: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: var(--trans-03);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(180deg);
    box-shadow: none;
}

.toggle.active {
    transform: translate(180deg);
}

body.dark .toggle {
    box-shadow: none;
}

/* menu bar  */

.sidebar li  {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-03);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar li a:hover {
    background: var(--primary-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--primary-color-light);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

/* search box  */

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.search-box input[type="text"] {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* toggle dark mode or light mode  */

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-03);
}

body.dark .switch::before {
    left: 24px;
}

/* home section  */

.home {
    background: var(--body-color);
    position: relative;
    height: 100vh;
    left: 275px;
    width: calc(100% - 275px);
    transition: var(--trans-05);
}

.home .text {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    padding: 25px 50px;
}

.sidebar.close ~ .home {
    left: 125px;
    width: calc(100% - 125px);
}

/* media query  */

@media screen and (max-width: 800px) {
    .home .text {
        font-size: 18px;
    }
}