@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
    height: 100vh;
    background: #fefae0;
}

a {
    text-decoration: none;
    display: flex;
}

/* === sidebar === */

.sidebar {
    height: 100%;
    width: 250px;
    background: #fff;
    position: fixed;
    padding: 20px 20px;
    border-radius: 0 30px 30px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar.close {
    width: 100px;
}

/* === toggle button === */

.toggle-btn {
    position: absolute;
    top: 35px;
    right: -10px;
    background: #fb8500;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all 0.2s ease;
}

.toggle-btn i {
    transform: scale(1.2);
    color: #fff;
}

.sidebar.close .toggle-btn {
    transform: translateY(-50%) rotate(180deg);
}

/* === sidebar header section === */

header {
    display: flex;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    height: 40px;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;;
}

.profile-text .name {
    font-size: 16px;
    font-weight: 500;
}

.profile-text .profession {
    font-size: 12px;
    color: grey;
}

.sidebar.close .profile-text {
    display: none;
}

/* === menu section === */

.sec-head-text {
    font-size: 0.75rem;
    color: grey;
    margin-block: 5px;
}

.sidebar.close .sec-head-text {
    text-align: center;
}

.sidebar.close .hide-text {
    /* use to hide the text  */
    opacity: 0; 
}

.sidebar li  {
    height: 35px;
    margin-top: 4px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar li:hover a, 
.sidebar li.active a {
    background: whitesmoke;
}

.sidebar li .icon,
.sidebar li .nav-text {
    color: #333;
}

.nav-text {
    flex: 1;
    font-size: 16px;
}

.nav-down {
    padding-left: 25px;
}

.main-section {
    border-top: 1px solid rgba(128, 128, 128, 0.267);
}

.setting-section {
    border-top: 1px solid rgba(128, 128, 128, 0.267);
}

.sidebar .account-section {
    border-top: 1px solid rgba(128, 128, 128, 0.267);
}

/* === sub-menu section === */

.sub-menu {
    /* display: none; */
    margin-left: 30px;
    padding-left: 20px;
    border-left: 2px solid #f6f6f6;
}

.sidebar .sub-menu li  {
    height: 30px;
    margin-top: 4px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.sidebar .sub-menu li a {
    padding-left: 10px;
}

.sub-nav-text {
    font-size: 14px;
    color: #333;
    padding: 2px;
}

