@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --whitesmoke-color: #e7e7e7;
}

body {
    font-family:'poppins', san-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: var(--black-color);
}

a li {
    margin: 4px;
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
}

a li:hover {
    background: var(--whitesmoke-color);
}

.container {
    max-width: 1152px;
    margin-inline: auto;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.logo {
    z-index: 100;
}

.logo img {
    height: 40px;
}

span{
    font-size: 18px;
    font-weight: 600;
    color:var(--black-color);
}

nav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    color: var(--black-color);
}

.main-nav {
    align-items: space-between;
    background-color: var(--white-color);
    padding: 20px 10px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.5);
}


.nav-links {
    gap: 40px;
    flex: 770px;
    justify-content: center;
}

.nav-btns, .hero-btns {
    gap: 10px;
}

.btns {
    border-radius: 5px;
    padding: 5px 16px 5px 16px;
}
.primary-btn {
    background-color: var(--whitesmoke-color);
}

.secondary-btn {
    background-color: var(--black-color);
    color: var(--white-color);
}

button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    display: none;
    z-index: 100;
}

#close-icon {
    display: none;
}

#close-icon.active {
    display: block;
}

#bar-icon.active {
    display: none;
}

.mobile-nav {
    flex-direction: column;
    background: var(--white-color);
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    padding-inline: 20px;
    transition: 0.5s ease-in-out;
}

.mobile-nav.active {
    left: 0;
}

.mobile-nav-links {
    margin-top: 80px;
}

.mobile-nav-links ul {
    flex-direction: column;
}

.mobile-nav-btns {
  flex-direction: column;
  margin-top: 8px;
  gap: 10px;
  width: 100%;
}

.mobile-btns {
    border-radius: 5px;
    text-align: center;
    padding-block: 8px;
    align-items: start;
    width: 100%;
}

.section-1 {
    background: linear-gradient(135deg, #bce7d6, #FFF5C2);
    height: 994px;
    padding: 30px;
}

.section-2 {
    background: #f4f4f4;
    height: 588.8px;
    padding: 30px;
}

.section-3 {
   background: linear-gradient(135deg, #E7BCDE, #FFF5C2);
   height: 994px;
   padding: 30px;
}

/* media query */

@media screen and (max-width: 800px) {

    .logo img {
        height: 30px;
    }
    
    span{
        font-size: 16px;
    }

    .main-nav {
        padding: 20px 15px;
    }

    .nav-btns, .nav-links {
        display: none;
    }

    .logo img {
        height: 35px;
        font-size: 14px;
    }

    a li:hover {
        background: none;
    }

    button {
        display: block;
    }
}